/* #heading{
    color: red;
} */

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 6vw;
    max-height: 10vh;
}
.nav-items ul{
    font-size: large;
    display: flex;
    list-style-type: none;
}
.nav-items ul li{
    padding: 1vw;
}

.res-card{
    width: 18vw;
    /* height: 40vh; */
    padding: 0.75vw ;
    margin: 1vw;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
/* .search{
    padding: 1vh;
} */
.filter-btn{
    margin: 1vw;
}
.filter-btn button:hover{
    cursor: pointer;
}
.res-logo{
    width: 100%;
    height: 60%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    margin: 1vw;
    width: 18vw;
    height: 50vh;
    background-color: #f0f0f0;
}